*{
     padding: 0;
     margin: 0;
     overflow-x: hidden;  
     background-color: #eee;
}

.conteiner{
     display: flex;
     flex-direction: column;
}

.box-1{
     background-color: black;     
     display: flex;
     justify-content: center;
     width: 100vw;
}

#video_view {
     /* override other styles to make responsive */
     width: auto   !important;
     height: 100vh   !important;
     background-color: black;  
}

#list_videos{
     display: flex;
     flex-direction: column;
     margin-left: 3vh;
     margin-right: 3vh;
}

#list_videos li{
     font-size: larger;
     padding-top: 3vh;
     padding-bottom: 3vh;
     border-bottom: 1px solid #ccc;
     color: #333;
}

#list_videos li:hover{
     opacity: 70%;
     cursor: pointer;
}

#video_card_name{
     position: absolute;
     width: 94vw;
     display: flex;
     background-color: #000000;

}

#video_card_name p{
     font-size: larger;
     padding: 2vh;
     border-radius: 8px;
     font-weight: bolder ;
     /* opacity: 90%; */
     color: #fff;
     background-color: #000;
}